/* .expenseitem-desc {
  display: flex;
  justify-content: space-between;
  align-items: center;
} */
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.expenseitem {
  width: 85rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  border-radius: 1rem;
  background-color: #34495e;
  padding: 1rem;
  margin-top: 3rem;
  margin-left: 1rem;
}

.expenseitem-name {
  font-size: 2rem;
  color: white;
  font-weight: bold;
}
.expenseitem-cost {
  font-size: 1.5rem;
  font-weight: bold;
  border: 2px solid white;
  border-radius: 1rem;
  padding: 1rem;
  color: white;
  background-color: #30336b;
}
